- name: Install Fail2ban package
  apt:
    name: fail2ban
    state: present

- name: Configure local SSH jail
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime = 3600
      findtime = 600
      maxretry = 3

      [sshd]
      enabled = true
      port = ssh
      filter = sshd
      logpath = /var/log/auth.log
  notify: restart fail2ban

- name: Ensure Fail2ban is running
  service:
    name: fail2ban
    state: started
    enabled: yes

